@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Manrope", sans-serif !important;
}

a {
  color: inherit;
  text-decoration: none;
}

li{
  font-weight: 500 !important;
}

* {
  box-sizing: border-box;
}

.mantine-datxwl,
.mantine-1oqsa6w,
.mantine-17m1sye,
span,
.mantine-1cy5umz,
.mantine-a2kbre,
.mantine-a2kbre,
.mantine-Spoiler-control,
.mantine-Anchor-root,
div {
  font-family: "Manrope", sans-serif !important;
}

.mantine-Spoiler-control {
  font-size: 16px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.mantine-r182e0,
.mantine-1tqac7r {
  background-color: transparent !important;
}

.row-spacing {
  margin: 1rem 0 !important;
}

.badge-spacing {
  margin: 0.4rem 0.2rem !important;
}

button,
input,
.mantine-Card-root {
  border-radius: 0 !important;
}

.mantine-Timeline-itemTitle {
  font-weight: 700 !important;
}

.mantine-4375jw,
.line-break-responsive {
  overflow-wrap: break-word !important;
}

.section-spacing {
  margin-top: 5rem !important;
  margin-bottom: 5rem !important;
}

.row-bottom-top-spacing {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}

.row-bottom-top-spacing-half {
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
}

.content-spacing {
  margin-top: 2rem !important;
}

.item-spacing-half {
  margin-top: 0.5rem !important;
}

.item-spacing-1 {
  margin-top: 1rem !important;
}

.demo-icon {
  margin: 0 10px;
}

.mantine-Tooltip-body {
  font-size: 12px !important;
  font-weight: 600 !important;
  z-index: 100000 !important;
}

@media screen and (max-width: 410px) {
  .demo-icon {
    margin-left: 0;
  }
}

.word-spacing-small {
  margin-left: 0.5rem;
}

.mantine-Anchor-root {
  color: inherit;
}

.mantine-Alert-body {
  font-weight: 500 !important;
}

.wave {
  -webkit-animation: header-img-wave 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  animation: header-img-wave 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

@-webkit-keyframes header-img-wave {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
  80% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  90% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
  }
}
@keyframes header-img-wave {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
  80% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  90% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
  }
}

@media screen and (max-width: 608px) {
  .header-text {
    font-size: 40px !important;
  }
  .header-img img {
    height: 38px !important;
    width: 38px !important;
  }
}

@media screen and (max-width: 590px) {
  .header-text {
    font-size: 34px !important;
  }
}

@media screen and (max-width: 445px) {
  .header-text {
    font-size: 30px !important;
  }

  .header-img img {
    height: 28px !important;
    width: 28px !important;
  }
}

@media screen and (max-width: 395px) {
  .header-text {
    font-size: 26px !important;
  }
  .header-img img {
    height: 24px !important;
    width: 24px !important;
  }
}

@media screen and (max-width: 350px) {
  .header-text {
    font-size: 22px !important;
  }
  .header-img img {
    height: 20px !important;
    width: 20px !important;
  }
}

@media screen and (max-width: 305px) {
  .header-text {
    font-size: 20px !important;
  }
  .header-img img {
    height: 18px !important;
    width: 18px !important;
  }
}

@media screen and (max-width: 284px) {
  .header-text {
    font-size: 18px !important;
  }
  .header-img img {
    height: 16px !important;
    width: 16px !important;
  }
}
